<lx-dialog class="dialog dialog--l" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-primary tc-white">
      <span class="toolbar__label fs-title">Smile!</span>
    </div>
  </div>
  <div class="dialog__content">
    camera here
  </div>
  <div class="dialog__actions">
    <button class="btn btn--m" lx-ripple lx-dialog-close>Cancel</button>
    <button class="btn btn--m btn--primary btn--raised" lx-ripple>Use Photo</button>
  </div>
</lx-dialog>
