.file-upload-btn input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-btn label {
  cursor: pointer;
}

.file-upload-btn label * {
  pointer-events: none;
}
